<a href="https://colab.research.google.com/github/Zubair-cell/Python/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter a number:"))
for i in range(1,11,1):
  print(num*i)

enter a number:152
152
304
456
608
760
912
1064
1216
1368
1520

In [ ]:
for i in range(0,5,1):
  for j in range(0,5,1):
    print("*",end='')

  print()

*****
*****
*****
*****
*****

In [ ]:
for i in range(0,5,1):
  for j in range(0,i+1,1):
    print("*",end='')

  print()

*
**
***
****
*****

In [ ]:
for i in range(0,5,1):
  for j in range(5,i,-1):
    print("*",end='')

  print()

*****
****
***
**
*

In [ ]:
for i in range(1,6,1):
  for j in range(1,i+1,1):
    print(j,end='')

  print()

1
12
123
1234
12345

In [ ]:
for i in range(0,5,1):
  for j in range(5,i,-1):
    print("*",end='')

  print()

*****
****
***
**
*

In [ ]:
for i in range(0,5,1):
  for i in range(0,i+1,1):
    print("*",end='')
  print()

*
**
***
****
*****

In [ ]:
for i in range(1,5,1):
  for j in range(0,i+1,1):
    print(j,end='')

  print()

01
012
0123
01234

In [ ]:
num=int(input("enter any number:"))
if(num%2==0):
  print("this number is even.")
else:
  print("this number is odd.")

enter any number:5
this number is odd.

In [ ]:
age=int(input("enter your age:"))
if(age>=18):
  print("you are eligible for vote.")
else:
  yrs=18-age
  print("you have to wait for another " + str(yrs) +" years to cast your vote")

enter your age:12
you have to wait for another 6 years to cast your vote

In [ ]:
num1=int(input("enter a number:"))
num2=int(input("enter a number:"))
if(num1>num2):
  large=num1
else:
  large=num2

print("large=",large)

enter a number:45
enter a number:41
large= 45

In [ ]:
char=input("enter ant character:")
if(char>='A' and char<='z'):
  char=char.lower()
  print("the entered charactere was in uppercase. In lowercase is :" +char)
else:
  char=char.upper()
  print("the enetered character was in lowercase. In uppercase is :" +char)

enter ant character:Z
the entered charactere was in uppercase. In lowercase is :z

In [ ]:
ch=input("enter the sex of the employee(m or f):")
sal=int(input("Enter the salary of the employee:"))
if(ch=='m' and sal<=10000):
  bonus=0.5*sal
  bonus=0.7*sal
elif(ch=="f" and sal<10000):
  bonus=0.10*sal
  bonus=0.12*sal
amt_to_be_paid =sal+bonus
print(bonus)
print("*-----------*")
print("amount to be paid=",amt_to_be_paid)

enter the sex of the employee(m or f):m
Enter the salary of the employee:5000
3500.0
*-----------*
amount to be paid= 8500.0

In [ ]:
a=10 if 20>15 else 5
print(a)

10

In [ ]:
a=[]
b=a.append(3)
print(b)

None

WHILE LOOP

In [ ]:
i=1
while(i<=10):
  print(i,end=' ')
  i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
i=0
while(i<=10):
  print(i,end='\t')
  i=i+1

0	1	2	3	4	5	6	7	8	9	10

In [ ]:
i=0
s=0
while(i<=10):
  s=s+i
  i=i+1
avg=float(s)/10
print("the sum of 10 numbers=",s)
print("the average of 10 numbers=",avg)

the sum of 10 numbers= 55
the average of 10 numbers= 5.5

In [ ]:
i=1
while(i<=10):
  print('*',end='')
  i=i+1

**********

In [ ]:
m=int(input("enter the value of m:"))
n=int(input("enter the value of n:"))
s=0
while(m<=n):
  s=s+m
  m=m+1
print("sum=",s)

enter the value of m:5
enter the value of n:10
sum= 45

In [ ]:
negatives=positives=zeroes=0
print("enter -1 to exit....")
while(1):
  num=int(in2put("enter any number:"))
  if(num==-1):
    break
  if(num==0):
    zeroes=zeroes+1
  elif(num>0):
    positives=positives+1
  else:
    negatives=negatives+1

print("counter of positives number entered:",positives)
print("counter of negatives numbers entered:",negatives)
print("count of zeroes entered:",zeroes)

enter -1 to exit....
enter any number:5
enter any number:5
enter any number:8
enter any number:02
enter any number:1
enter any number:0
enter any number:7
enter any number:48
enter any number:-1
counter of positives number entered: 7
counter of negatives numbers entered: 0
count of zeroes entered: 1

In [ ]:
neg_count=0
neg_s=0
pos_count=0
pos_s=0
print("enter -1 to exit...")
num= int(input("enter the number:"))
while(num!=-1):
  if(num<0):
    neg_count=neg_count+1
    neg_s=neg_s+num
  else:
    pos_count=pos_count+1
    pos_s=pos_s+num
  num=int(input("enter the number:"))
neg_avg=float(neg_s)
pos_avg=float(pos_s)
print("the average of negative numbers is:",neg_avg)
print("the average of positive numbers is:",pos_avg)

enter -1 to exit...
enter the number:14
enter the number:45
enter the number:-5
enter the number:-6
enter the number:-1
the average of negative numbers is: -11.0
the average of positive numbers is: 59.0

In [ ]:
n=int(input("enter a number:"))
s=0
num=n
while(n>0):
  r=n%10
  s=s+(r**3)
  n=n/10
if(s==num):
  print("this number is Armstrong")
else:
   print("this number is not Armstrong")

enter a number:371
this number is not Armstrong

In [ ]:
decimal_num=int(input("enter the decimal number:"))
binary_num=0
i=0
while(decimal_num!=0):
  remainder=decimal_num%2
  binary_num=binary_num+remainder*(10**i)
  decimal_num=decimal_num/2
  i=i+1
print("The binary equivalent=",binary_num)

In [4]:
num=int(input("enter the positive nuumber :"))
if (num>0):
  num=num+1
print(num)

enter the positive nuumber :10
11

In [8]:
age=int(input("Enter the age of person:"))
if (age>=18):
  print("Person is eligible for voting.")
else:
  print("Person is not eligible for voting")

Enter the age of person:21
Person is eligible for voting.

In [12]:
char=input("enter the character:")
if(char.isalpha()):
  print("The user has entered a character.")
if(char.isdigit()):
  print("The user has entered digit.")
if(char.isspace()):
  print("User has enter space character.")

enter the character:
User has enter space character.

In [15]:
num=int(input("Enter the number:"))
if(num%2==0):
  print("this number is even")
else:
  print("this number is odd")

Enter the number:14
this number is even

In [19]:
age=int(input("enter the age:"))
if(age>=18):
  print("You are eligible for voting")
else:
  yrs=18-age
  print("You have to wait for another "+str(yrs)+" years to cast your vote")

enter the age:12
You have to wait for another 6 years to cast your vote

In [23]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
if(num1>num2):
  print("num1 is greater")
else:
  print("num2 is greater")

enter the first number15
enter the second number45
num2 is greater

In [31]:
char=input("Enter any character")
if(char>="A" and char<="Z"):
  char=char.lower()
  print("The entered charater was in uppercse. In lowercase is:"+char)
else:
  char=char.upper()
  print("The entered character was in lowercase. In uppercase:"+char)

Enter any characterzubair
The entered character was in lowercase. In uppercase:ZUBAIR

In [33]:
ch=input("enter the gender of the employe (m or f):")
sal=int(input("Enter the salary of the employee:"))
if(ch=='m'):
  bonus=0.05*sal
else:
  bonus=0.10*sal
amtpaid=bonus+sal
print("salary=",sal)
print("Bonus",bonus)
print("amount to be paid :",amtpaid)

enter the gender of the employe (m or f):f
Enter the salary of the employee:20000
salary= 20000
Bonus 2000.0
amount to be paid : 22000.0